<% layout('layouts/boilerplate.ejs') %> 

    <h1>All Campgrounds</h1>
    <div>
        <a href="/campgrounds/new">Add New Campground</a>
    </div>
    
    <%for (let campground of campgrounds){%>
     <div class="card m-3 p-3">
        <div class="row">
            <div class="col-md-4">
                <img src="<%=campground.images[0].cropped%>" alt="" class="img-fluid">
                <!--cropped is using virtual on models/campgrounds to give a 4:3 image-->
            </div>
            <div class="col-md-8">
            <h5><%=campground.title%></h5>
            <p><%=campground.description%></p>
            <h6 class="text-muted"><%=campground.location%></h6>
            <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">View Details</a>
            </div>

        </div>


     </div>       

    <%}%>
    
    

  